.commBookmarksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commBookmarkItem {
  border: 1px solid black;
}

.bookmarkPageTitle > h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.bookmarkPageTitle > p {
  text-align: center;
}
