.site-footer {
  background-color: black;
  margin-top: 20px;
  padding: 40px;
  text-align: center;
  color: white;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.github:hover {
            color: rgb(194, 66, 183);
          }
          &.producthunt:hover {
            color: rgb(216, 96, 41);
          }
        }
      }
    }
  }
}
