.site-footer {
  background-color: magenta;
  margin-top: 20px;
  padding: 40px;
  text-align: center;
  color: black;

  .footer-social-links {
    display: flex;
    justify-content: center;

    ul.social-links-list {
      li {
        margin-left: 15px;
        margin-right: 15px;
        display: inline-block;

        a {
          color: black;
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.github:hover {
            color: rgb(194, 66, 183);
          }
          &.producthunt:hover {
            color: rgb(216, 96, 41);
          }
        }
      }
    }
  }
}
