.featuredSidebarContainer {
  height: 100%;
}

.featuredContainer {
  border: 2px solid greenyellow;
  padding-top: 10px;
}

.featuredBlocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featuredBlocks li {
  padding: 4px;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  margin: 4px;
  font-size: small;
}

.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}
