.featuredSidebarContainer {
  height: 100%;
}

.featuredContainer {
  border: 1px solid darkgrey;
  padding-top: 10px;
}

.featuredBlocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.featuredBlocks li {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 4px;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  margin: 4px;
  font-size: 0.6em;
  color: white;
  font-weight: bold;
  // font-size: 0.8em;
  // background-color: rgb(187, 137, 219);
  background-color: mediumslateblue;
}

// .featuredBlocks a li {
//   justify-content: center;
//   align-items: center;
// }

// .featuredBlocks {
//   height: 20px;
//   width: 20px;
// }

.featuredBlocks li {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.featuredBlocks li:hover {
  // background-color: rgb(201, 95, 201);
  background-color: magenta;
  border: 2px solid grey;
}

.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}
